* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    height:100vh;
    background-color: rgb(249, 228, 249);
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginform
{
    position: absolute;
    right: 15%; /* adjust the value to your liking */
    /* top: 50%; keep it centered vertically */
    /* transform: translateY(-50%); */
    width:min(450px,95%);
    height: 580px;
    /* border:solid 1px blue; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    /* background-color:transparent; */
    background-color: white;
    border-radius:10px;
    transition: all 1s;
    background-color: #FFFFFF;
    width: 400px;
    height: 400px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    /* animation: fade-in 2s backwards; */
    
}
.sign {
    padding-top: 40px;
    color: #8C55AA;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
}
.header1{
    position: absolute;
    top: 20%;
    left: 10%;
    margin: 20px;
    font-size: 45px;
    font-weight: bold;
    color: #8C55AA;
    text-align: left;
    transition: all 1s, text-shadow 0.3s;
    animation: fade-in 2s forwards;
   
}
.header1:hover {
  color: #663399; /* change text color on hover */
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* add a slight shadow on hover */
  scale: 1.03;
}
.para1{
    position: absolute;
  top: 40%;
  left: 10%;
  margin: 20px;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  color: #666;
  animation: fade-in 2s forwards;   

}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.loginform:hover{
    box-shadow: 0 0 20px 0px rgb(80, 50, 232),0 0 100px 10px rgb(164, 151, 228);
    animation: blink 2s infinite;
    background-color:rgb(228, 231, 253);
}
@keyframes blink {
    0%,100%{
        box-shadow: 0 0 20px 0px rgb(240, 150, 150),0 0 100px 10px rgb(245, 172, 172);
    }
    40%,50%,60%
    {
        box-shadow: 0 0 10px 0px rgb(245, 177, 177),0 0 50px 0px rgb(244, 177, 177);
    }
}

.inputgroup
{
    position:relative; 
    height:50px;
    width:85%;  
}

.inputgroup input
{
    position:absolute;
    width:100%;
    height:45px;
    background: transparent;
    outline:none;
    border-left:none;
    border-right:none;
    border-top:none;
    border-bottom:solid 1px red;
    color:#8C55AA;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    transition: all 200ms;
    letter-spacing: 2px;
}

.inputgroup label
{
    position:absolute;
    transition: all 200ms;
    color:red;
    cursor: pointer;
}

.inputgroup input:hover +label,
.inputgroup input:focus +label,
.inputgroup input:valid +label
{
    transform: translateY(-20px);
    color:rgb(0, 85, 255);
}
.inputgroup input:hover ,
.inputgroup input:focus ,
.inputgroup input:valid 
{
    
    border-bottom:solid 1px rgb(0, 85, 255);
}

.topmargin{
    margin-top: 50px;
}
.topmarginlarge{
    margin-top: 80px;
}

.divcallforaction
{
    width:85%;
    height:45px;
    display: flex;
    justify-content: end;
    align-items: center;
}
.btnlogin
{
    border:solid 1px blue;
    width:150px;
    height:45px;
    padding:5px;
    border-radius: 5px;
    cursor: pointer;
    color:white;
    transition: all 200ms;
}
.btnlogin:hover{
    box-shadow: 0 0 100px rgb(198, 102, 218);
    transform: translateY(-5px);
}
.inactivecolor
{
    background-color: rgb(197, 87, 87);
}
.activecolor
{
    background-color: rgb(164, 157, 253);
}

.diverror
{
    background-color: transparent;
    color:#663399;
    height:45px;
    width:85%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: all 1s;
    letter-spacing: 1px;
}
.applyerrordiv
{
    visibility: visible;
    opacity: 1;
    animation:falldown 1s linear;
}
@keyframes falldown {
    0%{opacity: 0;transform: translateY(-100px);}
    49%{opacity: 1;transform: translateY(0px);letter-spacing: 1px;}
    50%{opacity: 1;transform: translateY(0px);letter-spacing: 3px;}
    55%{opacity: 1;transform: translateY(0px);letter-spacing: 1px;}
    60%{opacity: 1;transform: translateY(-50px);}
    80%{opacity: 1;transform: translateY(0px);}
    85%{opacity: 1;transform: translateY(-10px);}
    100%{opacity: 1;transform: translateY(0px);}
}